.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0070f3;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  